:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--secondary-accent: #F5F4FA;
--white-color: #FFFFFF;
--secondary-bgc: #2F303A;
--secondary-text-color: rgba(255, 255, 255, 0.6);
}

body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;  
}

.invisible {
    display: none;
}

.logo {
    color: var(--title-text-color);
    text-decoration: none;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
}

.logo:hover {
    color: var(--accent-color);
}

.part-logo {
    color: var(--accent-color);
}

/* site-nav */

.site-nav a,
.auth-nav a {
    color: var(--title-text-color);
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav a:hover, 
.site-nav a:focus,
.auth-nav a:hover, 
.auth-nav a:focus {
    color: var(--accent-color);
}

.section-title {
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.title-employment {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.position {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
}

.title-capabilities {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.type-capabilities {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.hero-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.btn-group button {
    color: var(--title-text-color);
    background-color: var(--secondary-accent);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.btn-group button:hover {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.hero {
    background-color: var(--secondary-bgc);
}

.address {
    color: var(--white-color);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
}

.mail-phone a {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
}

footer {
    background-color: var(--secondary-bgc);
}

.footer-logo {
    color: var(--white-color);
}

.command {
    background-color: var(--secondary-accent);
}

.hero-btn {
    color: var(--white-color);
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 187% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.contacts a {
    color: var(--primary-text-color);
}