:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--secondary-accent: #F5F4FA;
--white-color: #FFFFFF;
--secondary-bgc: #2F303A;
}

body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;  
}

.invisible {
    display: none;
}

.logo {
    color: var(--title-text-color);
    text-decoration: none;
}

.logo:hover {
    color: var(--accent-color);
}

.part-logo {
    color: var(--accent-color);
}

/* site-nav */

.site-nav a,
.auth-nav a,
.list a {
    color: var(--title-text-color);
}

.site-nav a:hover, 
.site-nav a:focus {
    color: var(--accent-color);
}

.auth-nav a:hover, 
.auth-nav a:focus {
    color: var(--accent-color);
}

/* section */
.section-title {
    color: var(--title-text-color);
}

.hero-title {
    color: var(--white-color);
}